* {
    margin: 0;
    padding: 0;
}
.title {
    margin: 10%;
    text-align: center;
}
.container{
    background-color:#a7d7e6;
    position: absolute;
    width: 100%;
    display: flex;
}
.left-group, .right-group{
    width: 25%;
    text-align: center;
}
.mid-group{
    background:rgb(241, 238, 196);
    flex: 1;
    text-align: center;
    border:1px solid #fff;
    border-radius: .625rem;
}
.data {
    border:1px solid rgb(132, 163, 204);
    border-radius: .625rem;
}
.div-big {
    display: flex;
    margin: 5%;
    text-align: center;
}
.box{
    flex:1;
    text-align: center;
}
.div-small {
    padding: 10%;
    text-align: center;
}
.nowSp {
    margin: 10%;
    font-size: large;
    color: rgb(173, 50, 132);
}
.num {
    color: rgb(235, 168, 81);
}
.compare {
    font-size: small;
}
.map {
    height:600px;
    margin:100px 0px;
    top:50px;
}
.radio {
    margin: 40px;
}
input[type=radio] {
    display: none;
}
#tab-1:checked ~ .tab label:nth-child(1),
#tab-2:checked ~ .tab label:nth-child(2){
    background-color: rgb(196, 194, 194);
    box-shadow: none;
}
.tab label {
    font-size: 18px;
    cursor: pointer;
    float: left;
    width: 50%;
    text-align: center;
    padding:15px 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: inset 0px 0px 0px 1px rgb(0, 0, 0, 0.2);
    user-select: none;
    -webkit-user-select: none;
}


